<div class="border border-solid border-black w-1/3 mx-auto rounded-sm">
<form phx-submit="share" class="block py-5">
    <input name="email" placeholder="Email" type="email" class="p-2 block mx-auto border border-solid mt-2"/>
    <button type="submit" class="block mx-auto bg-slate-900 text-white p-2 rounded-sm mt-9">Share plot</button>
</form>
</div>